.register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}